@import "tailwindcss";

:root {
  --background: #EDF1F5;
  --foreground: #171717;
  --nav-background: #fff;
  --nav-link: #8FA9BE;
  --nav-link-hover: #F5F7FA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F171D;
    --foreground: #18242D;
    --nav-background: #18242D;
    --nav-link: #20659e;
    --nav-link-hover: #0844a5;
  }
}
nav {
  background: var(--nav-background);
  color: var(--nav-link);
  padding: 1rem;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
